doctype
html 
    head 
        link(rel="stylesheet", href="styles.css")
    body 
        header 
            nav
                ul 
                    each item in nav.menu 
                        a(href=item[1] traget=item[2])
                            div(class='menu_item')
                                li(id=item[0]) #{item[0]}
        section 
            h1 #{title}
            block content
        footer 